.modal-header
  %h4.modal-title Sign in
.modal-body
  %ul
    %li
      %a.btn.btn-block.btn-social.btn-google-plus{ ng: { click: 'signInWith("google")', class: '{disabled: signingIn || !authReady}' } }
        %i.fa.fa-google-plus
        Sign in with Google
    %li{ ng: { show: 'environment == "test"' } }
      .input-group
        %input.form-control{ type: 'text', name: 'credentials', ng: { model: '$parent.credentials' } }
        .input-group-btn
          %button.btn.btn-default{ type: 'button', ng: { click: 'signInWith("test")' } } Test
  %progressbar.progress-striped.active{ max: 100, value: 100, type: 'primary', ng: { show: 'signingIn' } } Signing in
  %alert{ type: 'danger', ng: { show: 'error', bind: 'error' } }
.modal-footer
  %button.btn.btn-default{ ng: { click: '$close()' } } Close
