.selectImage
  .thumbnail
    img
      width 100%
  form
    margin-bottom 1em
    label
      margin-right 0.4em

#editItem, #editPart
  .image
    img
      width 100%
    .glyphicon-picture
      margin-top 1em
      font-size 3em
      color #777777
      cursor pointer
      &:hover
        color #000000

#setMissingImages
  h2
    small
      display block
  .thumbnail
    img
      width 100%
    .glyphicon-picture
      margin 1em 0
      font-size 3em
  form
    margin-bottom 1em
