.itemInfo
  .itemPartInfo
    td.partThumbnail
      width 100px
      img
        width 100px
    td.title
      width 50%

#editItem
  .titles
    li:first-child
      input
        font-weight bold
