.itemInfo
  .itemPartInfo
    td.partThumbnail
      width 100px
      img
        width 100px
  .image
    img
      width 100%

#editItem
  .titles
    li:first-child
      input
        font-weight bold
