#scraping
  .filters
    margin-bottom 1em
  table
    th, td
      vertical-align middle
      &.provider
        width 10em
      &.status
        width 20em
    .label
      font-size 0.9em
    a
      .label
        &:hover
          text-decoration underline
